body{
	text-align: center;
	font-family: Helvetica, sans-serif;
}	

div{
	background-image: url(the-flatiron-building.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;

}

ul{
	list-style: none;
	color: white;
	font-size: 18px;
}

nav li{
	padding-top: 0.7em;
	font-weight: bold;
}

h1{
	font-size: 70px;
	font-weight: bold;
	color: white;

}

h2, h3{
	font-size: 32px;
	font-weight: bold;
}

a{
	color: white;
}

.new-york{
	background-image: url(the-flatiron-building.png);
	color: white;
}

footer{
	font-size: 11px;
	color: white;
	background-color: dimgray;
	text-align: left;
}

footer li{
	display: inline;
	font-size: 11px;
}
